.DS_Store
Makefile

*~
*.pro.user
*.o
*.app
*.a
*.prl
*.pyc
*.obj
*.Debug
*.Release
*.pdb
*.vcxproj.user
*.aps
*.sdf
*.opensdf
*.v11.suo
*.dll
*.ilk
*.iobj
*.ipdb
*.tlog
*.vs

*node_modules/*

*debug/
*release/
*Debug/
*Release/

moc_*.cpp
ui_*.h
qrc_*.cpp

.loc
.qmake.stash