.DS_Store
Makefile

*~
*.pro.user*
*.o
*.app
*.a
*.prl
*.pyc
*.obj
*.Debug
*.Release
*.pdb
*.vcxproj.user
*.aps
*.sdf
*.opensdf
*.v11.suo
*.dll
*.ilk
*.iobj
*.ipdb
*.tlog
*.log
*.vs
*.jar
*pointing.node
*target_wrapper.bat

*node_modules*
*build*

*debug/
*release/
*Debug/
*Release/

moc_*.cpp
ui_*.h
qrc_*.cpp

.loc
.qmake.stash

apps/consoleExample/consoleExample
apps/glutExample/glutExample
apps/qtExample/qtExample
bindings/Node/cache
tests/interpolation/interpolation
tests/subpixel/subpixel
tests/hidreportparser/hidreportparser
tests/*/target_wrapper.sh
bindings/Node/cache
bindings/Node/nw